@charset "utf-8";

h1,h2,h3 {
	border: 1px solid black;
	text-align:center;
	background-color: rgba(218, 143, 6, 0.863);
	font-size:24px;
	padding: 5px
  }
  article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
div.newRow {
	width:100%;
	clear:both;
}


div[class^="col-"] {
	float:left;
	padding:2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

div.col-1-2{ 
	width:50%;
}
body{
	position: relative;
	min-height:1650px;
  }
  
  body::after{
	content: "";
	background: url(background.png);
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
	background-size: cover;
  }
  p.text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width:800px;
	font-size:18px;
    margin-top: 20px;
    line-height: 1.5;
  }

  footer{
    clear:both;
  }

