@charset "utf-8";


header table{
  display:inline-block;
  list-style-type:none;
  font-family:serif, monospace;
  font-style: italic;
  font-size:25px;
  font-weight: bold;
  width:100%;
  
}

body hr{
 margin-top:-10px;

}
.Column1 {
 padding-right:20px;
 padding-left:20px;
 width:10%;
 text-align: center;
 vertical-align: middle;
 
}

.Column2,.Column3,.Column4,.Column5{
  padding-left: 40px;
  padding-right: 40px;
  width:10%;
  text-align: center;
  vertical-align: middle;
}

.Column6{
  padding-left: 40px;
  padding-right: 40px;
  width:25%;
  text-align: center;
  vertical-align: middle;
}

.Column7 {
   vertical-align: top;
   padding-left: 10px;
   padding-right: 15px;
   padding-top:10px;
   width:10%;
   text-align:center;
}
   
.Column8 {
  vertical-align:top;
  text-align:center;
  padding:10px;
  margin:10px;
  padding-right:30px;
  width:10%;
}



table > thead> tr> th > a:visited, table >thead> tr> th> a:link {
  color: rgb(128, 86, 10);
  text-decoration: none;
  
}

table >thead> tr> th > a:hover, table >thead> tr> th> a:active {
  color: rgb(222,128,60);
  text-decoration: underline;
}

.scroll::-webkit-scrollbar {
    display: none;
}

body{
    margin:0;
    min-height:1400px;
}

   
   body::after{
     content: "";
     background: url(racquet.jpg);
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: fixed;
     z-index: -1;
     background-size: cover;
   }
   

h1 {
    font-size: 40px;
    color: #000000;
    text-align: left;
    padding: 15px;
  } 

h2 {
   font-size: 30px;
    color: #000000;
    text-align: left;
    padding: 15px;
}
  
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
  }

ul {
   font-size: 20px;
}



*{
   box-sizing: border-box;
 }
 
 /* Create two equal columns that floats next to each other */
 .column {
   float: left;
   width: 50%;
   padding: 10px;
   height: 600px; 
 }
 

 .row:after {
   content: "";
   display: table;
   clear: both;
 }


 footer > a > p {
  text-align :center;
  background-color: rgb(191, 120, 6) ;
  color:rgb(247, 245, 245);
  line-height:1.7;
  font-size:20px;
  position:fixed;
  bottom:0;
  clear:both;
  margin:0;
  width:100%;
  padding:0;
}
